{% extends "navbar.html" %}




{% block content %}










    <div class="form-style-10" style="margin-top: 10%;">
        <h1>Add Organization</h1>
        <form action="" method="post">

            <div class="inner-wrap">
                {{ form.hidden_tag() }}

                <p>
                    {{ form.name.label }}
                    {{ form.name(size=32) }}<br><br>
                    {% for error in form.name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.loc.label }}
                    {{ form.loc(size=32) }}<br><br>
                    {% for error in form.loc.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.domain.label }}
                    {{ form.domain(size=32) }}<br><br>
                    {% for error in form.domain.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>


                <p>
                    {{ form.size.label }}
                    {{ form.size(size=1) }}<br><br>
                    {% for error in form.size.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>


                <p>{{ form.submit() }}</p>
            </div>
        </form>
    </div>

{% endblock %}