{% extends "base.html" %}

{% block content %}
    <h1>Add Question</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <select name="cat">\
                {% for cat in cats%}
                <option value="{{cat.id}}">{{cat.name}}</option>
                {% endfor %}
            </select> 
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for('add_category') }}">Create a New Category</a>
{% endblock %}