{% extends "base.html" %}

{% block content %}
    <h1>Add Organization</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.loc.label }}<br>
            {{ form.loc(size=32) }}<br>
            {% for error in form.loc.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.size.label }}<br>
            {{ form.size(size=32) }}<br>
            {% for error in form.size.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.domain.label }}<br>
            {{ form.domain(size=32) }}<br>
            {% for error in form.domain.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}