{% extends "base.html" %}

{% block content %}
    <h1>Assessment</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
            <p>
                <table>
                    <tr>
                        <th>Category</th>
                        <th>Question</th>
                        <th>Rating</th>
                    </tr>
                    {% for q in ql %}
                <tr>
                    <td>{{q.category.name}}</td>
                    <td>{{q.name}}</td>
                    <td><input id="{{q.id}}" name="{{q.id}}" type="number" max=3 min=0 required=true></td>
                </tr>
                    {% endfor %}
                </table>
            </p>
            <p>{{ form.submit() }}</p>
        </form>
{% endblock %}