{% extends "base.html" %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static',filename='css/assess.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block content %}





    <div class="container-fluid" id="sidebar">
    <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-1">
        {% include 'navbar.html' %}
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 main">


    <div class="row align-items-center">

    <div class="col-md-12 col-xs-12">

    <div class="form-style-10">

        <h1>Assessment</h1>
        <form action="" method="POST" class="form">
            {{ form.csrf_token }}
        <div id="Content">
            <div class="inner-wrap">
                {% for o1 in categories %}
                {% set c = o1.data %}
                {% set qList = o1.info %}
                <div>
                    <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#{{c.id}}" aria-expanded="false" aria-controls="collapseExample" style="border-radius:0; font-weight: bold;background-color: black; font-size:15px;">
                        {{ c.name }}
                    </button>
                </div>
                <div class="collapse" id="{{c.id}}">
                    <div class="card card-body">
                        <table>
                        {% for o2 in qList %}
                        {% set q = o2.data %}
                        {% set gList = o2.info %}
                            <tr>
                            <td style="font-weight:bold;">{{ q.name }} </td>
                            {% set count = [0] %}
                            <td>
                                    <div class="form-group">
                            {% for o3 in gList %}
                            {% set g = o3.data %}
                                {% set c = count.pop() %}
                                
                                    {% if c==0 %}
                                        <input type="radio" name="rating{{q.id}}" value="{{ c }}"> {{ g.guideline }} <br>
                                    {% else %}
                                        <input type="radio" name="rating{{q.id}}" value="{{ c }}"> {{ g.guideline }} <br>
                                    {% endif %}
                                
                                
                                {% if count.append(c + 1) %}{% endif %}
                              
                            {% endfor %}
                                <textarea class="form-control" id="observation" placeholder="Enter your observation here" rows="2"></textarea>
                            </div>
                            <tr>
                                <td colspan="2"><hr/></td>
                            </tr>
                            
                        
                        </td>
                    </tr> 
                        {% endfor %}
                        <tr>
                            <td colspan="2"><button type="submit" class="btn btn-success btn-block">Submit</button></td></tr>
                        
                    </form>
                        </table>
                    </div>
                </div>
                {% endfor %}

        <br>
            </div>
        </div>
            
        </div>
        </div></div></div></div></div>


{% endblock %}
