<html>
    <head>
      {% if title %}
      <title>{{ title }} - Wipro Organization Assessment</title>
      {% else %}
      <title>Welcome to myFirstWebApp</title>
      {% endif %}




  
    </head>
    <body>

        <div style="color: red">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        
        </div>
        {% block content %}
        
        
        
        {% endblock %}
    </body>
</html>