{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
  {{super()}}

{% endblock %}


{% block content %}   

    <div class="container-fluid" id="sidebar" style="color: black;">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
                {% include 'navbar.html' %}
            </div>
            <div class="col-xs-8 col-xs-offset-3 col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-3 main">
                <h1 class="page-header" style="color:white">{{title}}</h1>
                <div class="row align-items-center">
                        
                    <div class="col-md-9 col-xs-9">
                        <!-- Search form -->
                        <form class="form-inline">
                            <span class="glyphicon glyphicon-search" aria-hidden="true" style="color:white;"></span>
                            <input class="form-control" type="text" placeholder="Search"
                            aria-label="Search" style="width:95%">
                        </form>
                            <br>
                    </div>
                    <div class="col-md-3 col-xs-3">  
                        <button type="button" class="btn btn-success float-md-right" data-toggle="modal" data-target="#cat_modal">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> New Category
                        </button>
                    </div>
                </div>
                <br>

                {% with messages = get_flashed_messages(category_filter=["success"]) %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                {% if errors %}
                {%- for message in errors %}
                <div class="alert alert-danger alert-dismissable">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>{{ message }}
                </div>
                {% endfor -%}
                {% endif %}
                {% endwith %}
                
                <div>
                    <table id="category_table" class="table table-light table-hover">
                        {% for category in categories%}
                        <tr style="color: black">
                            <td data-toggle="collapse" data-target="#demo"> 
                                <label class="text_label">{{category.name}}</label>
                                <input type="text" value="{{category.name}}" />
                                <i class="material-icons save" style="top: 3px;position: relative;display:none">save</i>
                            </td>
                            <td class="text-right">
                                <i class="material-icons delete" style="top: 3px;position: relative">delete</i>
                                <i class="material-icons edit" style="top: 3px;position: relative">edit</i>
                                <!-- <a href="/category/delete/{{ category.id }}" class="btn btn-danger btn-sm" onclick="return confirm('Click OK to delete {{category.name}}')">Delete</a> -->
                            </td>

                        </tr>
                            <tr><td id="demo" class="collapse">
                                Lorem ipsum dolor text....
                            </td></tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    </div>


    
<div id="cat_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    Create New Category
                </h4>
                <a class="close" data-dismiss="modal" href="#">×</a>
                <!-- <button type="button" class="close" data-dismiss="modal">
                    ×
                </button> -->
                
            </div>
            <div class="modal-body" style="padding-bottom: 7%;">
                <form action="{{url_for('test_insert_category')}}" method="POST" class="form">
                        {{ form.hidden_tag() }}
                            {{ wtf.quick_form(form, form_type="inline", button_map={'submit': 'success'}) }}
                </form>
            </div>
        </div>
    </div>
</div>


{% for category in categories%}
<div id="modaledit{{category.id}}" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        Edit Category '{{category.name}}'
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    
                </div>
                <div class="modal-body" style="padding-bottom: 7%;">
                    <form action="{{ url_for('update') }}" method="POST">
                        <input type="hidden"  name="id" value="{{category.id}}">
                        <input type="text" class="form-control" name="name" value="{{category.name}}"> <br>
                        <button class="btn btn-success" type="sbumit">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}


{% endblock %}
{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="../static/js/easy-editable-text.js"></script>
{% endblock %}