{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
  {{super()}}

{% endblock %}


{% block content %}   

    <div class="container-fluid" id="sidebar" style="color: black;">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
                {% include 'navbar.html' %}
            </div>
            <div class="col-xs-8 col-xs-offset-3 col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-3 main">
                <h1 class="page-header" style="color: white">{{title}}</h1>
                {% with messages = get_flashed_messages(category_filter=["success"]) %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>{{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                {% if errors %}
                {%- for message in errors %}
                <div class="alert alert-danger">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>{{ message }}
                </div>
                {% endfor -%}
                {% endif %}
                {% endwith %}
                
                <table id="category_table" class="table table-light table-hover">
                    <tr>
                        <form action="{{url_for('insert_category',id=id)}}" method="POST">
                            <th colspan="2">
                                <div class="input-group" style="padding: 0;">
                                    <input type="text" class="form-control" name="new_cat" placeholder="Enter category name...">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-success">
                                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </th>
                        </form>
                    </tr>
                    
                    {% for category in categories%}
                    <tr style="color: black">
                        <td> 
                            <label class="text_label">{{category.name}}</label>
                            <input class="edit_input" type="text" value="{{category.name}}" />
                        </td>
                        <td class="text-right">
                            <i class="material-icons delete" style="top: 3px;position: relative">delete</i>
                            <i class="material-icons edit" style="top: 3px;position: relative">edit</i>
                            <i class="material-icons save" style="top: 3px;position: relative; float: right; display: none;">save</i>
                        </td>

                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>


    
<div id="cat_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    Create New Category
                </h4>
                <a class="close" data-dismiss="modal" href="#">×</a>
                <!-- <button type="button" class="close" data-dismiss="modal">
                    ×
                </button> -->
                
            </div>
            <div class="modal-body" style="padding-bottom: 7%;">
                <form action="{{url_for('insert_category',id=id)}}" method="POST" class="form">
                        {{ form.hidden_tag() }}
                            {{ wtf.quick_form(form, form_type="inline", button_map={'submit': 'success'}) }}
                </form>
            </div>
        </div>
    </div>
</div>


{% for category in categories%}
<div id="modaledit{{category.id}}" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        Edit Category '{{category.name}}'
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    
                </div>
                <div class="modal-body" style="padding-bottom: 7%;">
                    <form action="{{ url_for('update') }}" method="POST">
                        <input type="hidden"  name="id" value="{{category.id}}">
                        <input type="text" class="form-control" name="name" value="{{category.name}}"> <br>
                        <button class="btn btn-success" type="sbumit">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}


{% endblock %}
{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="../static/js/easy-editable-text.js"></script>
{% endblock %}