{% extends "base.html" %}


{% block content %}





    <div class="container-fluid" id="sidebar">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-1">
                {% include 'navbar.html' %}
            </div>
            <div class="col-xs-8 col-xs-offset-3 col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-4 main">


                <div class="row align-items-center">

                    <div class="col-md-9 col-xs-9">

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <table>
                <tr>
                    <th>Category</th>
                    <th>Question</th>
                    <th>Question Id</th>
                </tr>
                    {% for q in ql %}
                <tr>
                    <td>{{q.category.name}}</td>
                    <td>{{q.name}}</td>
                    <td><input id="{{q.id}}" name="{{q.id}}" type="checkbox">{{q.id}}</td>
                </tr>
                    {% endfor %}
            </table>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}