{% extends "base.html" %}



{% block content %}






    <div class="container-fluid" id="sidebar" style="color: black;">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-1">
                {% include 'navbar.html' %}
            </div>
            <div class="col-xs-8 col-xs-offset-3 col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-4 main">


                <div class="row align-items-center">

                    <div class="col-md-9 col-xs-9">

    <div class="form-style-10">

    <h1>Delete Questions</h1>
    <p><select id="template_select">l
        <option>Select Template</option><br><br>
        {% for template in templates %}
        <option value="{{template.id}}">{{ template.name }}</option><br><br>
        {% endfor %}
        </select>
    </p>
    <p><select id="category_select">l

        </select>
    </p><br>
    <button onclick="loadTable()">Fetch data</button>
    <table  class="table table-light" id="questions_table" >
         <thead class="thead-dark">

    </table>
    </div>



    <script>
	

		 
		//Code for delete question 
        let category_select = document.getElementById("category_select");
        let questions_table = document.getElementById("questions_table");

        window.onload = function() {
            loadCategories();
        };

        template_select.onchange = function() {
            loadCategories();
        }

        function loadCategories(){
            template_id = template_select.value;
            fetch('/filter_category/' + template_id).then(function(response){
                response.json().then(function(data){
                    let categoryHTML = '<option disabled=true>Select Category</option>';
                    for(let category of data.categories){
                        categoryHTML += '<option value='+category.id+'>'+category.name+'</option>'
                    }

                    category_select.innerHTML = categoryHTML;
                });
            });

        }

         function loadTable(){
            category_id = category_select.value;
            fetch('/filter_questions/' + category_id).then(function(response){
                response.json().then(function(data){
                    let questionHTML = '<tr><th>Question</th><th></th><th></th></tr>';
                    for(let question of data.questions){
                        questionHTML += '<tr><td>'+ question.name +'</td>'
                        questionHTML += '<td><button class="btn btn-info btn-sm" onclick="editQuestion('+ question.id +')">Edit</button></td>'
                        questionHTML += '<td><button class="btn btn-info btn-sm" onclick="deleteQuestion('+ question.id +')">Delete</button></td></tr>'
                    }

                    questions_table.innerHTML = questionHTML;
                });
            });
         }

         function editQuestion(questionId) {
            var updatedQuestion = prompt("Please update the question:");
            if (updatedQuestion == null || updatedQuestion == "") {
                if (confirm("Delete the question?")) {
                    fetch('/delete_question/' +questionId).then(function(response){
                        response.json().then(function(data){
                            loadTable();
                        });
                    });
                }
            } else {
                fetch('/update_question/' +questionId+ '/' +updatedQuestion).then(function(response){
                    response.json().then(function(data){
                        loadTable();
                    });
                });
            }
         }

         function deleteQuestion(questionId){
            if (confirm("Delete the question?")) {
                    fetch('/delete_question/' +questionId).then(function(response){
                        response.json().then(function(data){
                            if(data.result == "success"){
                                loadTable();
                            }
                            else{
                                alert("Unable to delete question !");
                            }
                        });
                    });
             }
         }

    </script>
                    </div></div></div></div></div>
{% endblock %}