{% extends "base.html" %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static',filename='css/assess.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block content %}




    <div class="container-fluid" id="sidebar">
    <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-1">
        {% include 'navbar.html' %}
    </div>
    <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 main">


    <div class="row align-items-center">

    <div class="col-md-12 col-xs-12">

    <div class="form-style-10">

        <i onclick="goBack()" class="material-icons md-48" style="cursor: pointer;top: 25px;position: relative;color: white;">arrow_back</i> <center><h1>{{title}}</h1></center>
        <form action="" method="POST" class="form">
            {{ form.csrf_token }}
        <div id="Content">
            
            <div class="inner-wrap">
                {% set numquestlist = session['numqueslist'] %}    
                {% for o1 in categories %}
                {% set c = o1.data %}
                {% set myobslist = [''] %}
                {% set myrating = [0] %}
                {% set l = 1 %}
                {{ session['orgname'] }}
                {% if o_id == session['orgname'] %}
                    {% if a_id == session['savedassess'] %}
                        {{l}}
                        {% set myrating = session['myratings'] %}
                        {% set numquestions = session['numquestions'] %}
                        {% set myobslist = session['myobs'] %}
                    {% endif %}
                {% endif %}
                {% set qList = o1.info %}
                <div>
                    <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#{{c.id}}" aria-expanded="false" aria-controls="collapseExample" style="border-radius:0; font-weight: bold;background-color: #708090; font-size:15px;">
                        {{ c.name }}
                    </button>
                </div>
                <div class="collapse" id="{{c.id}}">
                    <div class="card card-body">
                        <table>
                        {% for o2 in qList %}
                            {% set i = numquestlist.pop() %}
                            {% set q = o2.data %}
                            {% set gList = o2.info %}
                                <tr>
                                <td style="font-weight:bold;">{{ q.name }} </td>
                                {% set count = [0] %}
                                <td>
                                        <div class="form-group">
                                {% for o3 in gList %}
                                    {% set g = o3.data %}
                                    {% set c = count.pop() %}
                                    {% if c==myrating[i - 1] %}
                                        <input type="radio" name="rating{{q.id}}" value="{{ c }}" checked> {{ g.guideline }} <br>
                                    {% elif c==0 %}
                                        <input type="radio" name="rating{{q.id}}" value="{{ c }}" checked> {{ g.guideline }} <br>
                                    {% else %}
                                        <input type="radio" name="rating{{q.id}}" value="{{ c }}"> {{ g.guideline }} <br>
                                    {% endif %}
                                    {% if count.append(c + 1) %}{% endif %}
                                        
                               {% endfor %}
                               {% if ''!=myobslist[i-1] %}                             
                                    <textarea class="form-control" id="observation" name="obs{{q.id}}" placeholder="Enter your observation here" rows="2">{{ myobslist[i-1] }}</textarea>
                                {% else %}
                                    <textarea class="form-control" id="observation" name="obs{{q.id}}" placeholder="Enter your observation here" rows="2"></textarea>
                                {% endif %}
                                </div>
                                <tr>
                                    <td colspan="2"><hr/></td>
                                </tr>
                            </td>
                        </tr>
                        {% endfor %}
                        </table>

                    </div>
                </div>
                {% endfor %}
            <br>
                <button type="submit" class="btn btn-success btn-block" name="submit" value="submit">Submit</button>
                <button type="submit" class="btn btn-success btn-block" name="save" value="save">Save</button>
        </form>

        <br>
            </div>
        </div>
            
        </div>
        </div></div></div></div></div>


{% endblock %}
