{% extends "base.html" %}

{% block content %}

    <div class="container-fluid" id="sidebar" style="color: black;">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3">
            {% include 'navbar.html' %}
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 main">
            <div class="container m-0 p-0">
                <div class="align-items-center vertical-center">
                    <div class="container m-0 p-0">
                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3 m-0 p-0"></div>
                            <div class="col-xs-6 col-sm-6 col-md-6 p-0">
                                {% for e in evals %}
                                {% set i = loop.index0 %}
                                <div class="p-2 border dash-content" style="background-color: white;">
                                    <div class="p-0">
                                        <p class="m-0 float-right">{{e.evaluation_user_account.username}}</p>
                                        <p class="m-0">{{e.evaluation_organization.name}}</p>
                                    </div>
                                    <div class="p-0">
                                        <p class="m-0 float-right" style="font-size:12px;">{{ts[i]}}</p>
                                        <p class="m-0">{{e.evaluation_assessment.name}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 m-0 p-0"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}
