

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


<div id='cssmenu'>
    <center><img style="vertical-align: bottom;" height="60%" width="60%" class="wiproLogo" src="../static/wiproLogo.png"></center>
    <ul>
        <li><a href="{{ url_for('index') }}"><span><i class="material-icons" style="top: 3px;position: relative">home</i>Home</span></a></li>

        <li class='last'><a href='#'><span><i class="material-icons" style="top: 3px;position: relative">list</i>Evaluation</span></a>
            <ul>
                <li class="has-sub"><a href="{{ url_for('assess') }}"><i class="material-icons" style="top: 6px;position: relative">check_circle</i><span>Start Evaluation</span></a></li>
                <li class="has-sub"><a href="{{ url_for('view') }}"><i class="material-icons" style="top: 6px;position: relative">bar_chart</i><span>Visualize Data</span></a></li>
            </ul>
        </li>
        {% if current_user.is_manager()==1 %}
        <li class='last'><a href='#'><span><i class="material-icons" style="top: 3px;position: relative">build</i>Manager Tools</span></a>
            <ul>
                <li class='has-sub'><a href="{{ url_for('select_template') }}"><span><i class="material-icons" style="top: 6px;position: relative">category</i>Edit Assessment</span></a></li>
                <li class='has-sub'><a href="{{ url_for('add_organization') }}"><span><i class="material-icons" style="top: 6px;position: relative">home_work</i>Edit Organization</span></a></li>
            </ul>
        {% endif %}
        <li class='last'><a href='#'><span><i class="material-icons" style="top: 3px;position: relative">perm_identity</i>My Account</span></a>
            <ul>
                <li class='has-sub'><a href="{{ url_for('logout') }}"><i class="material-icons" style="top: 6px;position: relative">power_settings_new</i><span>Logout</span></a>
                    {#                    <ul>#}
                    {#                        <li><a href='#'><span>Sub Product</span></a></li>#}
                    {#                        <li class='last'><a href='#'><span>Sub Product</span></a></li>#}
                    {#                    </ul>#}
                </li>
                <li class='has-sub'><a href="{{ url_for('reset_password') }}"><i class="material-icons" style="top: 6px;position: relative">create</i><span>Reset Password</span></a>
                    {#                    <ul>#}
                    {#                        <li><a href='#'><span>Sub Product</span></a></li>#}
                    {#                        <li class='last'><a href='#'><span>Sub Product</span></a></li>#}
                    {#                    </ul>#}
                </li>
            </ul>
        </li>
    </ul>
</div>
