

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


<div id='cssmenu'>
    <center><img style="vertical-align: bottom;" height="60%" width="60%" class="wiproLogo" src="../static/wiproLogo.png"></center>
    <ul>
        <li><a href="{{ url_for('index') }}"><span><i class="material-icons" style="top: 3px;position: relative">home</i>Home</span></a></li>
        <li class='last'><a href='#'><span><i class="material-icons" style="top: 3px;position: relative">list</i>Assessment</span></a>
            <ul>
                <li class="has-sub"><a href="{{ url_for('select_assessment_category') }}"><i class="material-icons" style="top: 6px;position: relative">check_circle</i><span>Make an Assessment</span></a></li>
                <li class="has-sub"><a href="{{ url_for('select_vis') }}"><i class="material-icons" style="top: 6px;position: relative">bar_chart</i><span>See data visualization</span></a></li>
            </ul>
        <li class='last'><a href="{{ url_for('select_template') }}"><span><i class="material-icons" style="top: 3px;position: relative">category</i>Category</span></a></li>
        <li class='last'><a href='#'><span><i class="material-icons" style="top: 3px;position: relative">question_answer</i>Question</span></a>
            <ul>
                <li class="has-sub"><a href="{{ url_for('add_question') }}"><i class="material-icons" style="top: 6px;position: relative">add</i><span>Add Question</span></a></li>
                <li class="has-sub"><a href="{{ url_for('delete_question') }}"><i class="material-icons" style="top: 6px;position: relative">delete</i><span>Delete Question</span></a></li>
            </ul>
        <li class='last'><a href='{{ url_for('add_organization') }}'><span><i class="material-icons" style="top: 3px;position: relative">home_work</i>Organization</span></a></li>
        <li class='last'><a href='#'><span><i class="material-icons" style="top: 3px;position: relative">perm_identity</i>My Account</span></a>
            <ul>
                <li class='has-sub'><a href="{{ url_for('logout') }}"><i class="material-icons" style="top: 6px;position: relative">power_settings_new</i><span>Logout</span></a>
                    {#                    <ul>#}
                    {#                        <li><a href='#'><span>Sub Product</span></a></li>#}
                    {#                        <li class='last'><a href='#'><span>Sub Product</span></a></li>#}
                    {#                    </ul>#}
                </li>
                <li class='has-sub'><a href="{{ url_for('reset_password') }}"><i class="material-icons" style="top: 6px;position: relative">create</i><span>Reset Password</span></a>
                    {#                    <ul>#}
                    {#                        <li><a href='#'><span>Sub Product</span></a></li>#}
                    {#                        <li class='last'><a href='#'><span>Sub Product</span></a></li>#}
                    {#                    </ul>#}
                </li>
            </ul>
        </li>
    </ul>
</div>
