<script type="text/javascript">
        $(function() {
            // this will get the full URL at the address bar
            var url = window.location.href;

            // passes on every "a" tag
            $("#cssmenu a").each(function() {
                // checks if its the same on the address bar
                if (url == (this.href)) {
                    $(this).closest("li").addClass("active");
                    //for making parent of submenu active
                    $(this).closest("li").parent().parent().addClass("active");
                }
            });
        });
    </script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


<div id='cssmenu'>
    <center><img style="vertical-align: bottom;" height="30%" width="30%" class="wiproLogo" src="../static/wiproLogo.png"></center>
    <ul>
        <li><a href="{{ url_for('index') }}"><span><i class="material-icons" style="top: 3px;position: relative">home</i>Home</span></a></li>
        <li><a href="{{ url_for('select_assessment_category') }}"><span><i class="material-icons" style="top: 3px;position: relative">done</i>Assessment</span></a></li>
        <li><a href="{{ url_for('select_vis') }}"><span><i class="material-icons" style="top: 3px;position: relative">bar_chart</i>Visualization</span></a></li>
        <li class='last'><a href="{{ url_for('test_category') }}"><span><i class="material-icons" style="top: 3px;position: relative">build</i>Category</span></a></li>
        <li class='last'><a href='{{ url_for('add_question') }}'><span><i class="material-icons" style="top: 3px;position: relative">question_answer</i>Question</span></a></li>
        <li class='last'><a href='{{ url_for('add_organization') }}'><span><i class="material-icons" style="top: 3px;position: relative">home_work</i>Organization</span></a></li>
        <li class='last'><a href='#'><span><i class="material-icons">perm_identity</i>My Account</span></a>
            <ul>
                <li class='has-sub'><a href="{{ url_for('logout') }}"><span>Logout</span></a>
                    {#                    <ul>#}
                    {#                        <li><a href='#'><span>Sub Product</span></a></li>#}
                    {#                        <li class='last'><a href='#'><span>Sub Product</span></a></li>#}
                    {#                    </ul>#}
                </li>
                <li class='has-sub'><a href="{{ url_for('reset_password') }}"><span>Reset Password</span></a>
                    {#                    <ul>#}
                    {#                        <li><a href='#'><span>Sub Product</span></a></li>#}
                    {#                        <li class='last'><a href='#'><span>Sub Product</span></a></li>#}
                    {#                    </ul>#}
                </li>
            </ul>
        </li>
    </ul>
</div>
