


<link rel="stylesheet" href="{{url_for('static',filename='styles/login_style.css')}}">

<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet" type="text/css">
<img class="wiproLogo" src="../static/wiproLogo.gif" />


<div class="form-style-10">
    {% block content %}
    <h1 style="background: #003873;">Register</h1>
    <form action="" method="post">

        <div class="inner-wrap">
        {{ form.hidden_tag() }}
        <p> 
            {{ form.username.label }}
            {{ form.username(size=32) }}<br><br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}
            {{ form.email(size=64) }}<br><br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password(size=32) }}<br><br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}
            {{ form.password2(size=32) }}<br><br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
            <p style="float: right;margin-top: 30px;font: normal 14px 'Nanum Gothic', serif;"><a class="reg" href="{{ url_for('login') }}">Already have an account? Sign in!</a></p>
        </div>
        <p>{{ form.submit() }}</p>
    </form></div>

{% endblock %}

