{% extends "base.html" %}
{% block content %}
<div class="container" class="mx-auto" style="width: 70%;">
  <h1 class="text-center"> {{ title }}</h1> <br>
  <form  class="form-horizontal" action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label class="control-label col-sm-4" for="username">{{ form.username.label }} </label> 
      <div class="col-sm-6">
          {{ form.username(size=32) }}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="oldpassword"> {{form.password.label }} </label> 
      <div class="col-sm-6">
        {{ form.password(size=32) }}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="newpassword"> {{form.newpassword1.label }}</label>
      <div class="col-sm-6">
          {{ form.newpassword1(size=32) }}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="retypenew">{{form.newpassword2.label }}</label>
      <div class="col-sm-6">
          {{ form.newpassword2(size=32) }}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-6">
          {{ form.submit() }}
      </div>
    </div>
  {% for fieldName, errorMessages in form.errors.items() %}
    <span style="color: red;">[{{ errorMessages }}]</span>
  {% endfor %}
  </form>
  
</div>
{% endblock %}