





{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}





    <div class="container-fluid" id="sidebar" style="color: white;">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-1">
                {% include 'navbar.html' %}
            </div>
            <div class="col-xs-8 col-xs-offset-3 col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-4 main">


                <div class="row align-items-center">

                    <div class="col-md-9 col-xs-9">
    <div class="form-style-10" style="margin-top: 10%;">
{#<div class="container justify-content-md-center">#}
  <h1 class="text-center"> {{ title }}</h1> <br>

    <div id="Content">

        <div class="inner-wrap">

  <!-- <form  class="form form-horizontal" action="" method="POST">
    {{ wtf.quick_form(form, form_type="horizontal", horizontal_columns=('md', 4, 6), button_map={'submit': 'success'}) }}
  </form> -->
  <form  class="form" action="" method="POST">
      {{ wtf.quick_form(form, form_type="basic", button_map={'submit': 'success'}) }}
    </form>
  
</div>
    </div>
</div>
                    </div></div></div></div></div>
{% endblock %}