{% extends "navbar.html" %}

{% import "bootstrap/wtf.html" as wtf %}






{% block content %}

    <div class="form-style-10" style="margin-top: 10%;">
{#<div class="container justify-content-md-center">#}
  <h1 class="text-center"> {{ title }}</h1> <br>

    <div id="Content">

        <div class="inner-wrap">

  <!-- <form  class="form form-horizontal" action="" method="POST">
    {{ wtf.quick_form(form, form_type="horizontal", horizontal_columns=('md', 4, 6), button_map={'submit': 'success'}) }}
  </form> -->
  <form  class="form" action="" method="POST">
      {{ wtf.quick_form(form, form_type="basic", button_map={'submit': 'success'}) }}
    </form>
  
</div>
    </div>
</div>
    </div>
{% endblock %}