{% extends "navbar.html" %}

{% block content %}

    <div class="form-style-10" style="margin-top: 10%;">


<h1>Select Organization and Category</h1>
<div id="Content">

        <div class="inner-wrap">
    <form action="{{ url_for('.select_timestamp') }}" method="GET">
        <p><label>Choose Organization:</label></p>
        <p><select name="orgs">
                <option></option>
                {% for entry in orgs %}
                <option value="{{entry.id}}">{{ entry.name }}</option>
                {% endfor %}
            </select>
        </p><br><br>
        <p><label>Choose Template:</label></p>
        <p><select name="temp">
                <option></option>
                {% for entry in temp %}
                <option value="{{entry.id}}">{{ entry.name }}</option>
                {% endfor %}
            </select>
        </p>
    <br><br>
        <p><button>Proceed</button></p>  
    </form>
</div>
</div>
    </div>
{% endblock %}