{% extends "base.html" %}


{% block content %}





    <div class="container-fluid" id="sidebar" style="color: white;">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-1">
                {% include 'navbar.html' %}
            </div>
            <div class="col-xs-8 col-xs-offset-3 col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-4 main">


                <div class="row align-items-center">

                    <div class="col-md-9 col-xs-9">







    <div class="form-style-10">


<center><h1>Create an Assessment</h1></center>
<div id="Content">

        <div class="inner-wrap">
    <form action="{{ url_for('assess') }}" method="GET">
        <p><label>Choose Organization:</label></p>
        <p><select name="org">
                <option></option>
                {% for entry in org %}
                <option value="{{entry.id}}">{{ entry.name }}</option>
                {% endfor %}
            </select>
        </p><br><br>
        <p><label>Choose Assessment Type:</label></p>
        <p><select name="template">
                <option></option>
                {% for entry in temp %}
                <option value="{{entry.id}}">{{ entry.name }}</option>
                {% endfor %}
            </select>
        </p>
    <br><br><br>
        <p><button>Proceed</button></p>  
    </form>
</div>
</div>
    </div>





                    </div></div></div></div></div>
{% endblock %}