{% extends "base.html" %}

{% block content %}
<h1>Select Assessment Template</h1>
<div id="Content">
    <form action="{{ url_for('assess') }}" method="GET">
        <p>Choose Template and Organization</p>
        <p><select name="template">
                <option>Select Template</option>
                {% for temp in templates %}
                <option value="{{temp.id}}">{{ temp.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p><select name="org">
                <option>Select Org</option>
                {% for entry in org %}
                <option value="{{entry.id}}">{{ entry.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p><button>Proceed</button></p>  
    </form>
    <a href="{{ url_for('add_domain_template') }}">Create a New Template</a>
</div>
{% endblock %}