{% extends "navbar.html" %}

{% block content %}

    <div class="form-style-10" style="margin-top: 10%;">


<h1>Select Assessment Category</h1>
<div id="Content">

        <div class="inner-wrap">
    <form action="{{ url_for('assess') }}" method="GET">
        <p><label>Choose Organization:</label></p>
        <p><select name="org">
                <option></option>
                {% for entry in org %}
                <option value="{{entry.id}}">{{ entry.name }}</option>
                {% endfor %}
            </select>
        </p><br><br>
        <p><label>Choose Category:</label></p>
        <p><select name="category">
                <option></option>
                {% for entry in cat %}
                <option value="{{entry.id}}">{{ entry.name }}</option>
                {% endfor %}
            </select>
        </p>
    <br><br>
        <p><button>Proceed</button></p>  
    </form>
</div>
</div>
    </div>
{% endblock %}