{% extends "base.html" %}

{% block content %}
<h1>Select Assessment Category</h1>
<div id="Content">
    <form action="{{ url_for('assess') }}" method="GET">
        <p>Choose Organization and Category</p>
        <p><select name="org">
                <option>Select Org</option>
                {% for entry in org %}
                <option value="{{entry.id}}">{{ entry.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p><select name="category">
                <option>Select Category</option>
                {% for entry in cat %}
                <option value="{{entry.id}}">{{ entry.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p><button>Proceed</button></p>  
    </form>
    <a href="{{ url_for('add_domain_template') }}">Create a New Template</a>
</div>
{% endblock %}