{% extends "base.html" %}


{% block content %}





    <div class="container-fluid" id="sidebar">
    <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-1">
        {% include 'navbar.html' %}
    </div>
    <div class="col-xs-8 col-xs-offset-3 col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-4 main">


    <div class="row align-items-center">

    <div class="col-md-9 col-xs-9">

<div class="form-style-10" style="margin-top: 10%;">

    <i onclick="goBack()" class="material-icons md-48" style="cursor: pointer;top: 25px;position: relative;color: white;">arrow_back</i><center><h1>{{title}}</h1></center>


    <form action="{{ url_for('view_single_assessment') }}" method="post" >
        {{ form.hidden_tag() }}

                {{ form.csrf_token }}


                <p><center>
                <table style="text-align: center;font: 15px black" id="assessment_detail_table" border="1" width="600">
                    <tr>
                        <th>ID</th>
                        <th>Timestamp</th>
                        <th>Select</th>
                    </tr>
                    {% for ed in eval_details %}
                        <tr>
                            <td>{{ed.id}}</td>
                            <td>{{ed.timestamp}}</td>
                            <td><input type="radio" name="select" value="{{ ed.id }}"></td>
                        </tr>
                    {% endfor %}
                </table>
<br><br>
                <p align="center">{{ form.submit() }}</p>


    </form>



{% endblock %}
