{% extends "base.html" %}


{% block content %}





    <div class="container-fluid" id="sidebar" style="color: black;">
    <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-1">
        {% include 'navbar.html' %}
    </div>
    <div class="col-xs-8 col-xs-offset-3 col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-4 main">


    <div class="row align-items-center">

    <div class="col-md-9 col-xs-9">


<div class="form-style-10">

    <i onclick="goBack()" class="material-icons md-48" style="cursor: pointer;top: 25px;position: relative;color: white;">arrow_back</i><center><h1>Assessment Information</h1></center>

    <div id="Content">

        <div class="inner-wrap">

            <div id="my_dataviz"></div>

            <script src="https://d3js.org/d3.v4.js"></script>
            <script>
                var jsonData = '';
                window.onload = function() {
                    var temp = '{{json_data}}';
                    jsonData = temp.replace(/&#34;/g, '"');
                    generateGraph();
                };
                function generateGraph(){
// set the dimensions and margins of the graph
                    var margin = {top: 30, right: 30, bottom: 100, left: 60},
                        width = 460 - margin.left - margin.right,
                        height = 400 - margin.top - margin.bottom;
// append the svg object to the body of the page
                    var svg = d3.select("#my_dataviz")
                        .append("svg")
                        .attr("width", width + margin.left + margin.right)
                        .attr("height", height + margin.top + margin.bottom)
                        .append("g")
                        .attr("transform",
                            "translate(" + margin.left + "," + margin.top + ")");
                    var data = JSON.parse(jsonData);
                    // X axis
                    var x = d3.scaleBand()
                        .range([ 0, width ])
                        .domain(data.map(function(d) { return d.question; }))
                        .padding(0.2);
                    svg.append("g")
                        .attr("transform", "translate(0," + height + ")")
                        .call(d3.axisBottom(x))
                        .selectAll("text")
                        .attr("transform", "translate(-10,0)rotate(-45)")
                        .style("text-anchor", "end");
                    // Add Y axis
                    var y = d3.scaleLinear()
                        .domain([0, 3])
                        .range([ height, 0]);
                    svg.append("g")
                        .call(d3.axisLeft(y));
                    // Bars
                    svg.selectAll("mybar")
                        .data(data)
                        .enter()
                        .append("rect")
                        .attr("x", function(d) { return x(d.question); })
                        .attr("y", function(d) { return y(d.Value); })
                        .attr("width", x.bandwidth())
                        .attr("height", function(d) { return height - y(d.Value); })
                        .attr("fill", "#003873")
                }
            </script>








    <form action=" " method="post">
        {{ form.hidden_tag() }}

                {{ form.csrf_token }}
                <p>
                <table style="text-align: center;font: 15px black" id="assessment_detail_table" border="1" width="600">
                    <tr>
                        <th>Category</th>
                        <th>Question</th>
                        <th>Guidelines</th>
                        <th>Rating</th>
                    </tr>
                    {% for ad in assessdetails %}
                        <tr>
                            <td>{{ ad.Category.name }}</td>
                            <td>{{ ad.Question.name }}</td>
                            <td>
                            {% for g in guideline %}
                                <pre>{{ g.guideline }} </pre>
                            {% endfor %}
                            </td>
                            <td>{{ ad.Rating.rating }}</td>
                        </tr>
                    {% endfor %}
                </table>
<br><br>



    </form>

        </div></div></div></div></div></div></div></div>
{% endblock %}
