{% extends "base.html" %}


{% block content %}





    <div class="container-fluid" id="sidebar" style="color: white;">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-1">
                {% include 'navbar.html' %}
            </div>
            <div class="col-xs-8 col-xs-offset-3 col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-4 main">


                <div class="row align-items-center">

                    <div class="col-md-9 col-xs-9">

    <div class="form-style-10">


<center><h1>{{title}}</h1></center>
<div id="Content">

        <div class="inner-wrap">
    <form action="{{ url_for('view') }}" method="POST">
        <p><label>Choose Organization:</label></p>
        <p><select name="organization" id="organization_select">
                <option></option>
                {% for entry in orgs %}
                <option value="{{entry.id}}">{{ entry.name }}</option>
                {% endfor %}
            </select>
        </p><br><br>
        <p><label>Choose Assessment:</label></p>
        <p><select name="assessment" id="assessment_select">

            </select>
        </p>
        <table  class="table table-light" style="color:black" id="evaluation_table" >

            <tr><th></th><th></th><th></th></tr>
        </table>
    <br><br><br>

    </form>
</div>
</div>
    </div>
                    </div></div></div></div></div>



<script>
        let organization_select = document.getElementById("organization_select");
        let assessment_select = document.getElementById("assessment_select");

        assessment_select.onchange = function() {
            if(null != organization_select.value){
                loadTable();
            }
        }

        organization_select.onchange = function() {
            if(null != organization_select.value){
                loadAssessment();
            }
            let assessmentTableHTML = '<tr><th></th><th></th><th></th></tr>';
            evaluation_table.innerHTML = assessmentTableHTML;
        }

        function loadAssessment(){
            organization_id = organization_select.value;
            fetch('/filter_assessment/' + organization_id).then(function(response){
                response.json().then(function(data){
                    let assessmentHTML = '<option></option>';
                    for(let assessment of data.assessments){
                        assessmentHTML += '<option value="'+ assessment.id +'">'+ assessment.name +'</option>'
                    }
                    assessment_select.innerHTML = assessmentHTML;
                });
            });
         }

         function loadTable(){
            assessment_id = assessment_select.value;
            fetch('/filter_assessment_table/' + assessment_id).then(function(response){
                response.json().then(function(data){
                    let assessmentTableHTML = '<tr><th>Evaluations:</th><th></th><th></th></tr>';
                    for(let evaluation of data.evaluations){
                        assessmentTableHTML += '<tr><td>'+ evaluation.timestamp +'</td>'
                        assessmentTableHTML += '<td><button type="submit" class="btn btn-info btn-sm" name="select" value="'+ evaluation.id +'">View</button></td>'
                    }
                    evaluation_table.innerHTML = assessmentTableHTML;
                });
            });
         }


         /*
         function temp(){

         }
         */

</script>


{% endblock %}
