{% extends "base.html" %}


{% block content %}





    <div class="container-fluid" id="sidebar" style="color: black;">
    <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-1">
        {% include 'navbar.html' %}
    </div>
    <div class="col-xs-8 col-xs-offset-3 col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-4 main">


    <div class="row align-items-center">

    <div class="col-md-9 col-xs-9">


<div class="form-style-10">

    <i onclick="goBack()" class="material-icons md-48" style="cursor: pointer;top: 25px;position: relative;color: white;">arrow_back</i><center><h1>{{title}}</h1></center>

    <div id="Content">
        <p style="font-size: 20px;">Select the type of graph:<p>
        <select id="graph_select" name="hi" >
            <option value="bar" selected>Bar Graph</option>
            <option value="pie">Pie Graph</option>
            <option value="spider">Spider Graph</option><br><br>
        </select>
        <br />
        <br />
        <br />




        <div class="inner-wrap">

            <div align="center" class="container-fluid ui-resizable" id="canvas_div">

            </div>









            <center><button class="btn btn-primary" data-toggle="collapse" data-target="#viztable">View as a table</button></center>
<br><br>
            <div id="viztable" class="collapse">

                <table style="width: auto;text-align: center;font: 14px black" id="evaluation_detail_table" border="1">
                    <tr>
                        <th>Category</th>
                        <th>Question</th>
                        <th>Guidelines</th>
                        <th>Rating</th>
                    </tr>
                    {% for ed in eval_details %}
                        <tr>
                            <td>{{ ed.Category.name }}</td>
                            <td>{{ ed.Question.name }}</td>
                            <td>
                            {% for g in guideline %}
                                <pre style="width: 100%;white-space:pre-wrap;">{{ g.guideline }} </pre>
                            {% endfor %}
                            </td>
                            <td>{{ ed.Rating.rating }}</td>
                        </tr>
                    {% endfor %}
                </table>

            </div>




    <script src="https://d3js.org/d3.v4.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

    <script>

        let canvasHTML = '';
        graph_select.onchange = function() {
            loadGraph();
        }

        function loadGraph(){
            graph_type = graph_select.value;
            if(graph_type === "bar"){
                generateBarGraph();
            }
            else if(graph_type === "pie"){
                generatePieGraph();
            }
            else{
                generateSpiderGraph();
            }
        }

       window.onload = function() {
           var temp = '{{json_data}}';
           jsonData = temp.replace(/&#34;/g, '"');
           generateBarGraph('bar');
       };


        // Generates a random value between 0 and 255
     function randomNum() {
       return Math.floor(Math.random() * 256);
     }
     // Returns an array of 3 values for rgb
     function randomRGB() {
       var red = randomNum();
       var green = randomNum();
       var blue = randomNum();
       return "rgba(" + red + ", " + green + ", " + blue + ", 0.5)";
     }




    function generateBarGraph(){

       var labelArray =[], valueArray=[], colorArray=[];

       canvasHTML = '';
        {% for category in categories %}
            canvasHTML += '<canvas height="300px" id="{{category}}" style="border:1px solid" width="500px"></canvas>';
        {% endfor %}

       canvas_div.innerHTML = canvasHTML;

        {% for category in categories %}
       labelArray =[];
       valueArray=[];
        colorArray=[];

        var chartData = JSON.parse(jsonData);

       for (var i = 0, len = chartData.length; i < len; ++i) {
           if(chartData[i].category == "{{category}}"){
                labelArray.push(chartData[i].question);
                valueArray.push(chartData[i].Value);
                colorArray.push(randomRGB());
           }
       }

        new Chart(document.getElementById("{{category}}"), {
    type: 'bar',
    data: {
      labels: labelArray,
      datasets: [
        {
          label: "Rating",
          backgroundColor: colorArray,
          data: valueArray
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: '{{category}}'
      },
      scaleShowValues: true,
        scales: {
        yAxes: [{
        ticks: {
        beginAtZero: true
        }
        }],
        xAxes: [{
        ticks: {
        autoSkip: false
        }
        }]
        }
    }
	});
	 {% endfor %}

    }

    function generatePieGraph(){

       var labelArray =[], valueArray=[], colorArray=[];

       canvasHTML = '';
        {% for category in categories %}
            canvasHTML += '<canvas height="300px" id="{{category}}" style="border:1px solid" width="500px"></canvas>';
        {% endfor %}

       canvas_div.innerHTML = canvasHTML;

        {% for category in categories %}
       labelArray =[];
       valueArray=[];
        colorArray=[];

        var chartData = JSON.parse(jsonData);

       for (var i = 0, len = chartData.length; i < len; ++i) {
           if(chartData[i].category == "{{category}}"){
                labelArray.push(chartData[i].question);
                valueArray.push(chartData[i].Value);
                colorArray.push(randomRGB());
           }
       }

        new Chart(document.getElementById("{{category}}"), {
    type: 'pie',
    data: {
      labels: labelArray,
      datasets: [
        {
          label: "Rating",
          backgroundColor: colorArray,
          data: valueArray
        }
      ]
    },
    options: {
      legend: { display: true },
      title: {
        display: true,
        text: '{{category}}'
      }
    }
	});
	 {% endfor %}

    }










     function generateSpiderGraph(){
        canvasHTML = '';
        {% for category in categories %}
            canvasHTML += '<canvas height="300px" id="{{category}}" style="border:1px solid" width="500px"></canvas>';
        {% endfor %}

       canvas_div.innerHTML = canvasHTML;

       var myChart
       var chart
       var chartData = JSON.parse(jsonData);
       var labelArray =[], valueArray=[];

       //alert(valueArray);
       {% for category in categories %}
       labelArray =[];
       valueArray=[];
       for (var i = 0, len = chartData.length; i < len; ++i) {
           if(chartData[i].category == "{{category}}"){
                labelArray.push(chartData[i].question);
                valueArray.push(chartData[i].Value);
           }
       }
       myChart = document.getElementById("{{category}}").getContext("2d");
       chart = new Chart(myChart,{
           type:'radar',
           data:{
               labels:labelArray,
               datasets:[{
                   label:['Rating'],
                   data:valueArray,
                   backgroundColor:[randomRGB()]
               }]
           },
           options:{
               title:{
                   display:true,
                   text:["{{category}}"],
                   fontsize:20
               },
               legend:{
                   position:'bottom'
               },
               layout:{
                   padding:{
                       left:50,
                       right:0,
                       bottom:0,
                       top:0
                   }
               },
               tooltips:{
                   display:false
               },
               scale:{
                   ticks: {
                       beginAtZero: true,
                       min: 0,
                       max: 3
                   }
               }
           }
       });
       {% endfor %}
     }
       </script>

        </div></div></div></div></div></div></div></div>

{% endblock %}
