{% extends "base.html" %}


{% block content %}





    <div class="container-fluid" id="sidebar" style="color: black;">
    <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-1">
        {% include 'navbar.html' %}
    </div>
    <div class="col-xs-8 col-xs-offset-3 col-sm-8 col-sm-offset-3 col-md-8 col-md-offset-4 main">


    <div class="row align-items-center">

    <div class="col-md-9 col-xs-9">


<div class="form-style-10">

    <i onclick="goBack()" class="material-icons md-48" style="cursor: pointer;top: 25px;position: relative;color: white;">arrow_back</i><center><h1>{{title}}</h1></center>

    <div id="Content">
        <p style="font-size: 20px;">Select the type of graph:<p>
        <select id="graph_select" name="hi" >
            <option value="spider" selected>Spider Graph</option>
            <option value="bar">Bar Graph</option>
            <option value="pie">Pie Graph</option>
            <br><br>
        </select>
        <br><br>
        <Center><button id="cmd" class="btn btn-primary">Save as PDF</button></Center>
        <div id="editor"></div>
        <br />
        <br />
        <br />




        <div class="inner-wrap">

            <div align="center" class="container-fluid ui-resizable" id="canvas_div">

            </div>









            <center><button class="btn btn-primary" data-toggle="collapse" data-target="#viztable">View as a table</button></center>
<br><br>
            <div id="viztable" class="collapse">

                <table style="width: auto;text-align: center;font: 14px black" id="evaluation_detail_table" border="1">
                    <tr>
                        <th>Category</th>
                        <th>Question</th>
                        <th>Guidelines</th>
                        <th>Rating</th>
                    </tr>
                    {% for ed in eval_details %}
                        <tr>
                            <td>{{ ed.Category.name }}</td>
                            <td>{{ ed.Question.name }}</td>
                            <td>
                            {% for g in guideline %}
                                <pre style="width: 100%;white-space:pre-wrap;">{{ g.guideline }} </pre>
                            {% endfor %}
                            </td>
                            <td>{{ ed.Rating.rating }}</td>
                        </tr>
                    {% endfor %}
                </table>

            </div>




    <script src="https://d3js.org/d3.v4.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

    <script>

        let canvasHTML = '';
        graph_select.onchange = function() {
            loadGraph();
        }

        function loadGraph(){
            graph_type = graph_select.value;
            if(graph_type === "bar"){
                generateBarGraph();
            }
            else if(graph_type === "pie"){
                generatePieGraph();
            }
            else{
                generateSpiderGraph();
            }
        }

       window.onload = function() {
           var temp = '{{json_data}}';
           jsonData = temp.replace(/&#34;/g, '"');
           generateSpiderGraph();
       };


        // Generates a random value between 0 and 255
     function randomNum() {
       return Math.floor(Math.random() * 256);
     }
     // Returns an array of 3 values for rgb
     function randomRGB() {
       var red = randomNum();
       var green = randomNum();
       var blue = randomNum();
       return "rgba(" + red + ", " + green + ", " + blue + ", 0.5)";
     }




    function generateBarGraph(){

       var labelArray =[], valueArray=[], colorArray=[];

       canvasHTML = '';
        {% for category in categories %}
            canvasHTML += '<canvas height="300px" id="{{category}}" style="border:1px solid" width="500px"></canvas>';
        {% endfor %}

       canvas_div.innerHTML = canvasHTML;

        {% for category in categories %}
       labelArray =[];
       valueArray=[];
        colorArray=[];

        var chartData = JSON.parse(jsonData);

       for (var i = 0, len = chartData.length; i < len; ++i) {
           if(chartData[i].category == "{{category}}"){
                labelArray.push(chartData[i].question);
                valueArray.push(chartData[i].Value);
                colorArray.push(randomRGB());
           }
       }

        new Chart(document.getElementById("{{category}}"), {
    type: 'bar',
    data: {
      labels: labelArray,
      datasets: [
        {
          label: "Rating",
          backgroundColor: colorArray,
          data: valueArray
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: '{{category}}'
      },
      scaleShowValues: true,
        scales: {
        yAxes: [{
        ticks: {
        beginAtZero: true
        }
        }],
        xAxes: [{
        ticks: {
        autoSkip: false
        }
        }]
        }
    }
	});
	 {% endfor %}

    }

    function generatePieGraph(){

       var labelArray =[], valueArray=[], colorArray=[];

       canvasHTML = '';
        {% for category in categories %}
            canvasHTML += '<canvas height="300px" id="{{category}}" style="border:1px solid" width="500px"></canvas>';
        {% endfor %}

       canvas_div.innerHTML = canvasHTML;

        {% for category in categories %}
       labelArray =[];
       valueArray=[];
        colorArray=[];

        var chartData = JSON.parse(jsonData);

       for (var i = 0, len = chartData.length; i < len; ++i) {
           if(chartData[i].category == "{{category}}"){
                labelArray.push(chartData[i].question);
                valueArray.push(chartData[i].Value);
                colorArray.push(randomRGB());
           }
       }

        new Chart(document.getElementById("{{category}}"), {
    type: 'pie',
    data: {
      labels: labelArray,
      datasets: [
        {
          label: "Rating",
          backgroundColor: colorArray,
          data: valueArray
        }
      ]
    },
    options: {
      legend: { display: true },
      title: {
        display: true,
        text: '{{category}}'
      }
    }
	});
	 {% endfor %}

    }










     function generateSpiderGraph(){
        canvasHTML = '';
        {% for category in categories %}
            canvasHTML += '<canvas height="300px" id="{{category}}" style="border:1px solid" width="500px"></canvas>';
        {% endfor %}

       canvas_div.innerHTML = canvasHTML;

       var myChart
       var chart
       var chartData = JSON.parse(jsonData);
       var labelArray =[], valueArray=[];

       //alert(valueArray);
       {% for category in categories %}
       labelArray =[];
       valueArray=[];
       for (var i = 0, len = chartData.length; i < len; ++i) {
           if(chartData[i].category == "{{category}}"){
                labelArray.push(chartData[i].question);
                valueArray.push(chartData[i].Value);
           }
       }
       myChart = document.getElementById("{{category}}").getContext("2d");
       chart = new Chart(myChart,{
           type:'radar',
           data:{
               labels:labelArray,
               datasets:[{
                   label:['Rating'],
                   data:valueArray,
                   backgroundColor:[randomRGB()]
               }]
           },
           options:{
               title:{
                   display:true,
                   text:["{{category}}"],
                   fontsize:20
               },
               legend:{
                   position:'bottom'
               },
               layout:{
                   padding:{
                       left:50,
                       right:0,
                       bottom:0,
                       top:0
                   }
               },
               tooltips:{
                   display:false
               },
               scale:{
                   ticks: {
                       beginAtZero: true,
                       min: 0,
                       max: 3
                   }
               }
           }
       });
       {% endfor %}
     }

    //Test 2
     $('#cmd').click(function(event) {
        // get size of report page
        //var reportPageHeight = $('#canvas_div').innerHeight();
        //var reportPageWidth = $('#canvas_div').innerWidth();

        var reportPageHeight = 1100;
        var reportPageWidth = 700;

     //var pdfCanvas =[];
     var canvasNo = 0;
     var pdfCanvas = $('<canvas />').attr({
            id: "canvaspdf",
            width: reportPageWidth,
            height: reportPageHeight
     });


    // keep track canvas position
    var pdfctx = $(pdfCanvas)[0].getContext('2d');
    var pdfctxX = 2;
    var pdfctxY = 4;
    var buffer = 10;
    var canvasHeight = 420;
    var canvasWidth = 700;

    var pdf = new jsPDF();
    //pageHeight= pdf.internal.pageSize.height;
    pageHeight=700;
    //alert(pageHeight);



    // for each chart.js chart
    $("canvas").each(function(index) {

        // draw the chart into the new canvas
        pdfctx.drawImage($(this)[0], pdfctxX, pdfctxY, canvasWidth, canvasHeight);
        pdfctxY += canvasHeight + buffer;

       if (pdfctxY >= pageHeight)
        {
            //alert(pdfctxY);
            //pdf.addImage($(pdfCanvas)[0], 'PNG', 0, 0);
            //alert(canvasNo);
            pdf.addImage($(pdfCanvas)[0], 'PNG', 0, 0, 0, 0, canvasNo, 'fast');

            // create a new canvas object that we will populate with all other canvas objects
            pdfCanvas = $('<canvas />').attr({
                id: "canvaspdf",
                width: reportPageWidth,
                height: reportPageHeight
            });
            pdfctx = $(pdfCanvas)[0].getContext('2d');
            pdf.addPage();
            pdfctxY = 4; // Restart height position
            canvasNo++;
        }

    });




    // download the pdf
    pdf.save('filename.pdf');
    //PrintElem('canvas_div');
    });



    /*
    function PrintElem(elem)
    {
    var mywindow = window.open('', 'PRINT', 'height=400,width=600');

    mywindow.document.write('<html><head><title>' + document.title  + '</title>');
    mywindow.document.write('</head><body >');
    mywindow.document.write('<h1>' + document.title  + '</h1>');
    mywindow.document.write(document.getElementById(elem).innerHTML);
    mywindow.document.write('</body></html>');

    mywindow.document.close(); // necessary for IE >= 10
    mywindow.focus(); // necessary for IE >= 10

    mywindow.print();
    mywindow.close();

    return true;
    }

    */
       </script>

        </div></div></div></div></div></div></div></div>

{% endblock %}
